.bodytext p {
    margin-bottom: 20px;
}
  
.section {
    margin-bottom: 10px;
}

.section-title {
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}
  
ul {
    list-style-type: none; /* Removing bullet points */
    padding-left: 0; /*Remove default padding */
}
  
ul li {
    margin-bottom: 10px; /* Space between list items */
}

@media only screen and (min-width: 768px) { /*Style for desktop, duplicates both in project and about page...*/
    .textcontainer{
        padding-bottom: 2rem;
        max-width: 800px;
    }
  
    .bodytext {
        font-size: 1rem;
    }
  
  }