.container{
  margin: 3rem 1rem;
  max-width: 1160px; /*Max. three boxes next to each other, even with a bigger screen*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding-bottom: 4rem; /*So that the footer stays at the bottom*/
}

.image-display {
  width: 75%;
  text-align: center;
}

/*Image display*/
.image-display img {
  width: 100%; /*takes up the full width of its container */
  height: auto; /*Maintaining  aspect ratio */
  max-width: 100%; /* Prevent the image from exceeding its container's width */
  object-fit: contain; /*to ensure the image scales proportionally */
}

/*Text under the image*/
.image-display p {
  font-family: "Inter", sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-weight: 350;
  text-align: left;
  font-size: 0.9rem;
  color: #252626;
  
}

@media only screen and (min-width: 439px) { /*Style for small windows*/

  .container {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping to a new row */
      justify-content: center; /* Center boxes horizontally */
      gap: 1em; /* Space between the boxes */
      margin: 4em auto; /* Adds vertical and horizontal space outside the container */
      width: 90%; /* Controls the container's width */
  }
  
  .box {
      width: calc((80% - 2em) / 2); /*Each box takes 50% of the container width minus the gap */
      height: auto;
      aspect-ratio: 1 / 1; /*Ensures the boxes remain square!!*/
      font-size: 1rem; /*Adjusting font size */
      background-color: #D9D9D9;
      overflow: hidden;
      cursor: pointer; /* Shows the pointer when hovering */
  }
}

@media only screen and (min-width: 768px) { /*Style for desktop*/

  .container {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping to a new row */
      justify-content: center; /* Center boxes horizontally */
      gap: 1em; /* Space between the boxes */
      margin: 5em auto; /* Adds vertical and horizontal space outside the container */
      width: 75%; /* Controls the container's width */
  }

  .box {
      width: calc((80% - 2em) / 2); /*Each box takes 50% of the container width minus the gap */
      height: auto;
      aspect-ratio: 1 / 1; /*Ensures the boxes remain square!!*/
      font-size: 1.5rem; /*Adjusting font size */
      background-color: #D9D9D9;
      cursor: pointer; /* Shows the pointer when hovering */
  }

  .image-display p {
    font-size: 1rem;
  }

}