.textcontainer {
    max-width: 800px;
    padding-left: 20%;
    padding: 0%;
    line-height: 1.6;
    color: #333;
    text-align: left;
    padding-bottom: 3rem;
}

.bodytext {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5rem;
}

.custom-heading {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
}

.custom-underheading {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 1rem;
    font-style: italic;
}

@media only screen and (min-width: 768px) { /*Style for desktop, I left textcontainer and bodytext here, since they are needed in both about and projects page*/

    .textcontainer{
        padding-bottom: 2rem;
        max-width: 100%;
    }
  
    .bodytext {
        font-size: 1.1rem;
        padding-left: 5rem;
    }
  }