.game-display {
    display: flex;
    flex-direction: column; /*Stacking the game and the text vertically*/
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 75%; /* Full width for the game container */
    text-align: left;
    padding-top: 1.5rem;
  }
  
  .game-display p {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 350;
    line-height: 1.5;
    color: #252626;
  }


  /*Style for desktop*/
  @media only screen and (min-width: 768px) {
    .game-display p  {
      font-size: 1rem; /*Able to grow the font size for bigger screens if wanted*/
    }
  }
  